<div class="header">
    <div>
    <h2>{{goal.name}}</h2>
    <h4>Due by: {{goal.dueDate | date:'MMM d, yyyy'}}</h4>
  </div>
  <div class="numbers">
    <h3>{{  goal.current}} / {{goal.target}}</h3>
    <form (submit)="addCount()">
        <h4>+<input type="number" [(ngModel)]="numberToAdd" name="numberToAdd" /></h4>
    <button type="submit" hidden></button>
    </form>
  </div>
</div>
<div class="container">
  <div
    *ngFor="let box of count; let i = index"
    [ngClass]="getClasses(box, i)"
    (click)="setCount(i)">
  </div>
</div>
<hr />
