<form (ngSubmit)="create()" #goalForm="ngForm">

  <label for="name">Goal Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="model.name" required>

    <label for="dueDate">Due By:</label>
    <input type="date" id="dueDate" name="dueDate" [(ngModel)]="model.dueDate" required>

    <label for="Target">Goal Target:</label>
    <input type="number" id="target" name="target" [(ngModel)]="model.target" required>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
